.inner {
  background-color: black;
  height: vh;
  overflow: hidden;
  .page {
    background-color: rgb(255, 255, 255);
  }

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(194, 194, 194);
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}
